@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/placeholders';

@import 'base/reset';
@import 'base/typography';

@import 'components/buttons';

@import 'layouts/nav';
@import 'layouts/header';

body {
    background-color: $main-bg-color;
}

.home {
   @extend %margin;
   

   &--content-container {
    background: $container-bg-color;
    border: 1px solid $container-border-color;
    border-radius: 8px;
    margin-bottom: toRem(24);
    opacity: 1;
    padding: toRem(40) toRem(24);
   }

}

