/* Variables */

// monochrome

$black: hsla(0, 0%, 0%, 1);
$desaturated-black: hsla(0, 0%, 0%, 0.05);
$gray: hsla(0, 0%, 48%, 1);
$off-white:hsla(0, 0%, 98%, 1);
$white: hsla(0, 0%, 100%, 1);

// primary colors
$soft-green: hsla(176, 50%, 47%, 1);

// background colors
$btn-bg-color: $soft-green;
$container-bg-color: $white;
$main-bg-color: $off-white;
$status-bar-bg: $desaturated-black;
$status-bg: $soft-green;

//border colors
$container-border-color: $desaturated-black;

// text colors
$btn-text-color: $white;
$heading-text-color: $black;
$primary-text-color: $gray;
